.right-arm {
    transform: rotate(-66deg) translate(20px, 52px);
}

@media (prefers-reduced-motion: no-preference) {
    g#backdrop-circle {
      animation: backdrop-circle-fadein 1.5s ease-in-out;
    }
    g#right-image {
      animation: right-image-slidein 1.5s ease-in-out;
    }
    g#left-image {
      animation: left-image-slidein 1.5s ease-in-out;
    }
    g#money {
      opacity: 0;
      animation: money-transfer 1.5s 3s ease-in-out infinite;
    }
    path.mower {
      animation: mower-start .1s 2s linear infinite;
    }
    path.right-arm {
      transform: rotate(-66deg) translate(20px, 52px);
      transform-origin: center;
      animation: right-arm-raise .5s 2.5s linear forwards;
    }
}

@keyframes backdrop-circle-fadein {
    from {
      opacity: 0;
      transform: translateY(100%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
}
  
@keyframes right-image-slidein {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
}
  
@keyframes left-image-slidein {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
}
  
@keyframes money-transfer {
    0% {
      transform: translate(-20%, 15%);
      opacity: 0;
    }
    50% {
      transform: translate(-5%, 0%);
      opacity: 1;
    }
    100% {
      transform: translate(-3%, 15%);
      opacity: 0;
    }
}
  
@keyframes mower-start {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(1%);
    }
}
  
@keyframes right-arm-raise {
    0% {
      transform: rotate(-66deg) translate(20px, 52px);
    }
    25% {
      transform: rotate(-49.5deg) translate(22px, 38px);
    }
    50% {
      transform: rotate(-33deg) translate(16px, 26px);
    }
    75% {
      transform: rotate(-16.5deg) translate(10px, 13px);
    }
    100% {
      transform: rotate(0deg) translate(0px, 0px);
    }
}
