---
---

@import "{{ site.theme }}";

body {
    color: #303846;
}

.page-header {
    color: #fff;
    background-image: linear-gradient(120deg, #303846, #8d8e94)
}

.main-content {
    max-width: 80rem;

    & :is(h1,h2,h3) {
        color: #303846;
    }
} 

img.photo {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    padding-top: 8px;
}

.container-row {
    display: flex;
    justify-content: space-around;
    
    &:has(.experiment-image-container) {
        flex-wrap: wrap;
    }
    
    & .animation-image-container {
        width: 300px;
        display: flex;
        flex-direction: column;

        & .static-image {
            display: flex;
            justify-content: center;
            flex-grow: 1;
        }
    }

    & .pen-container {
        width: 400px;
    }

    & .experiment-image-container {
        width: 400px;
    }
}

.site-footer {
    display: flex;
    justify-content: center;
    color: #8d8e94;

    & ul {
        list-style: none;
        display: inline;
        padding: 0;

        & li {
            display: inline;

            &:first-child:after {
                content: " | ";
            }

            & a {
                color: #8d8e94;
            }

            & .open-in-new-window {
                width: 10px;
                transform: rotate(-90deg);
                display: inline-block;
                position: relative;
                top: -6px;
                left: -2px;
            }
        }
    }
}

.media-image-container {
    width: fit-content;
    box-shadow: 0 0px 8px -3px #303846;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 12px;
}

.site-nav {
    & .nav-list-container {
        height: 0;

        &.show {
            height: auto;
            border: 1px solid rgba(27, 31, 35, 0.15);
            padding: 1em;
            border-radius: 0.3rem;
            position: absolute;
            top: 22rem;
            width: 16rem;
            background-color: #fff;
            box-shadow: 0 0 .25rem 0 rgba(0, 0, 0, 0.2);

            & .nav-list {
                visibility: visible;
            }
        }
    }

    & .nav-list {
        width: 100%;
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 1.5em;
        height: inherit;
        visibility: hidden;
    }

    & .nav-item {
        & .active {
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 42em) {
    .site-nav {
        padding: 1rem .5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-nav {
        padding: 1rem 4rem .5rem;
    }
}

@media screen and (min-width: 64em) {
    .site-nav {
        padding: 1rem 6rem .5rem;
        margin: 0 auto;
        max-width: 80rem;

        & .menu-toggle {
            display: none;
        }

        & .nav-list {
            flex-direction: row;
        }
    }
}

/* CSS */
.button-4 {
  appearance: none;
  background-color: #FAFBFC;
  border: 1px solid rgba(27, 31, 35, 0.15);
  border-radius: 0.3rem;
  box-shadow: rgba(27, 31, 35, 0.04) 0 1px 0, rgba(255, 255, 255, 0.25) 0 1px 0 inset;
  box-sizing: border-box;
  color: #24292E;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  padding: 6px 16px;
  position: relative;
  transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: break-word;
}

.button-4:hover {
  background-color: #F3F4F6;
  text-decoration: none;
  transition-duration: 0.1s;
}

.button-4:disabled {
  background-color: #FAFBFC;
  border-color: rgba(27, 31, 35, 0.15);
  color: #959DA5;
  cursor: default;
}

.button-4:active {
  background-color: #EDEFF2;
  box-shadow: rgba(225, 228, 232, 0.2) 0 1px 0 inset;
  transition: none 0s;
}

.button-4:focus {
  outline: 1px transparent;
}

.button-4:before {
  display: none;
}

.button-4:-webkit-details-marker {
  display: none;
}