---
---

@import "{{ site.theme }}";

body {
    color: #303846;
}

.page-header {
    color: #fff;
    background-image: linear-gradient(120deg, #303846, #8d8e94)
}

.main-content :is(h1,h2) {
    color: #303846;
}

img.photo {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    margin-bottom: -2px
}

.site-footer {
    display: flex;
    justify-content: center;
    color: #8d8e94;

    & ul {
        list-style: none;
        display: inline;
        padding: 0;

        & li {
            display: inline;

            &:first-child:after {
                content: " | ";
            }

            & a {
                color: #8d8e94;
            }
        }
    }
}