---
---

@import "{{ site.theme }}";

body {
    color: #303846;
}

.page-header {
    color: #fff;
    background-image: linear-gradient(120deg, #303846, #8d8e94)
}

.main-content {
    max-width: 80rem;

    & :is(h1,h2,h3) {
        color: #303846;
    }
} 

img.photo {
    width: 100px;
    border-radius: 50%;
    float: left;
    margin-right: 12px;
    padding-top: 8px;
}

.container-row {
    display: flex;
    justify-content: space-around;
    
    &:has(.experiment-image-container) {
        flex-wrap: wrap;
    }
    
    & .animation-image-container {
        width: 300px;
        display: flex;
        flex-direction: column;

        & .static-image {
            display: flex;
            justify-content: center;
            flex-grow: 1;
        }
    }

    & .pen-container {
        width: 400px;
    }

    & .experiment-image-container {
        width: 400px;
    }
}

.site-footer {
    display: flex;
    justify-content: center;
    color: #8d8e94;

    & ul {
        list-style: none;
        display: inline;
        padding: 0;

        & li {
            display: inline;

            &:first-child:after {
                content: " | ";
            }

            & a {
                color: #8d8e94;
            }

            & .open-in-new-window {
                width: 10px;
                transform: rotate(-90deg);
                display: inline-block;
                position: relative;
                top: -6px;
                left: -2px;
            }
        }
    }
}

.media-image-container {
    width: fit-content;
    box-shadow: 0 0px 8px -3px #303846;
    border-radius: 4px;
    padding: 4px;
    margin-bottom: 12px;
}

.site-nav {
    max-width: 80rem;

    & .menu-toggle {
        display: none;
    }

    & .nav-list {
        width: 100%;
        padding: 0;
        list-style: none;
        margin: 0;
        display: flex;
        gap: 1.5em;
    }

    & .nav-item {
        & .active {
            font-weight: bold;
        }
    }
}

@media screen and (max-width: 42em) {
    .site-nav {
        padding: 1rem .5rem;
    }
}

@media screen and (min-width: 42em) and (max-width: 64em) {
    .site-nav {
        padding: 1rem 4rem .5rem;
    }
}

@media screen and (min-width: 64em) {
    .site-nav {
        padding: 1rem 6rem .5rem;
        margin: 0 auto;
    }
}