<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">

{% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>
    <a id="skip-to-content" href="#content">Skip to the content.</a>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ site.title }}</h1>
      <p class="project-tagline">{{ site.description }}</p>
      {% if site.github.is_project_page %}
        <a href="{{ site.github.repository_url }}" class="btn">View on GitHub</a>
      {% endif %}
      {% if site.show_downloads %}
        <a href="{{ site.github.zip_url }}" class="btn">Download .zip</a>
        <a href="{{ site.github.tar_url }}" class="btn">Download .tar.gz</a>
      {% endif %}
    </header>
    <nav  class="site-nav">
      <button class="menu-toggle">Menu</button>
      <ul class="nav-list">
        <li class="nav-item active">
          <a href="https://joshharrison626.github.io/portfolio/">Home</a>
        </li>
        <li class="nav-item">
          <a href="https://joshharrison626.github.io/portfolio/media/">Media</a>
        </li>
        <li class="nav-item">
          <a href="/prototypes">Prototypes</a>
        </li>
        <li class="nav-item">
          <a href="https://joshharrison626.github.io/portfolio/experiments/">Experiments</a>
        </li>
        <li class="nav-item">
          <a href="https://joshharrison626.github.io/portfolio/animations/">SVG Animations</a>
        </li>
        <li class="nav-item">
          <a href="https://joshharrison626.github.io/portfolio/assets/files/Josh_Harrison_UI_UX_Developer_Resume.pdf">Resume</a>
        </li>
      </ul>
    </nav>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        <div class="site-footer-credits">
            Contact:
            <ul>
                <li>joshharrison626@gmail.com</li>
                <li>
                  <a href="https://www.linkedin.com/in/jjharrison/" target="_blank">https://www.linkedin.com/in/jjharrison/</a>
                  <div class="open-in-new-window">⇲</div>
                </li>
            </ul>
        </div>
      </footer>
    </main>
    <script src="{{ '/assets/js/scripts.js?v=' | append: site.github.build_revision | relative_url }}"></script>
  </body>
</html>